// link styles

.ui-interface {
  &-card {
    background-color: teal;
    width: 250px;
    height: 400px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 3px 3px 10px 1px rgba(black, 0.2);
    cursor: pointer;
    transition: all 500ms ease-out 500ms, transform 500ms cubic-bezier(0, 0, 0.0, 1.43) 500ms;
    &.middle, &.end {
      box-shadow: none;
    }
    &.middle {
      background-color: pink;
    }
    &.end {
      background-color: crimson;
    }
    &-wrapper {
      position: relative;
      width: 250px;
      height: 400px;
      &.inactive {
        .card {
          transform: translate3d(0, 0, 0);
          box-shadow: none;
        }
      }
    }
  }
}

.swiper-slide-active {
  .ui-interface-card {
    &.start {
      animation: wiggleCard #{500ms * 4} ease-out #{500ms * 2.5};
    }
    &.middle {
      transform: translate3d(10px, 10px, 0) !important;
      box-shadow: 3px 3px 10px 1px rgba(black, 0.2) !important;
    }
    &.end {
      transform: translate3d(20px, 20px, 0) !important;
      box-shadow: 3px 3px 10px 1px rgba(black, 0.2) !important;
    }
  }
}

@keyframes wiggleCard {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  55% {
    transform: rotate(-7deg) translate3d(-5px, -3px, 0);
  }
  75% {
    transform: rotate(0);
  }
}