// Import Modules
@import '../_styles/swiper';
@import '../_modules/MainSlide/MainSlide';
@import '../_modules/SlidePropsOne/SlidePropsOne';
@import '../_modules/SlidePropsTwo/SlidePropsTwo';
@import '../_modules/SlidePropsThree/SlidePropsThree';
@import '../_modules/SlidePropsFour/SlidePropsFour';
@import '../_modules/SlideEasingsOne/SlideEasingsOne';
@import '../_modules/SlideEasingsTwo/SlideEasingsTwo';
@import '../_modules/SlideStatesOne/SlideStatesOne';
@import '../_modules/SlideStatesTwo/SlideStatesTwo';
@import '../_modules/SlideAnimationsTypeOne/SlideAnimationsTypeOne';
@import '../_modules/SlideAnimationsTypeTwo/SlideAnimationsTypeTwo';
@import '../_modules/SlideAnimationsTypeSix/SlideAnimationsTypeSix';
@import '../_modules/SlideTransitionsKeyframesTwo/SlideTransitionsKeyframesTwo';
@import '../_modules/SlideTransitionsKeyframesThree/SlideTransitionsKeyframesThree';
@import '../_modules/SlideTransitionsKeyframesFour/SlideTransitionsKeyframesFour';
@import '../_modules/SlideSVGOne/SlideSVGOne';
@import '../_modules/SlideSVGFour/SlideSVGFour';
@import '../_modules/SlideSVGSix/SlideSVGSix';
@import '../_modules/Thanks/Thanks';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

.air-1 {
  margin-bottom: 16px;
}

.standard-content {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  &.content-column, &.content-text {
    flex-direction: column;
  }
  &.content-text {
    align-items: flex-start;
  }
}

.standard-container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 72px 0;
  position: relative;
}


.standard-title {
  font-size: 52px;
  line-height: 52px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.standard-subtitle {
  color: #666;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}

.example-title {
  color: #666;
  font-size: 22px;
  font-weight: 300;
  margin: 8px 0;
  display: block;
}

.standard-paragraph {
  font-size: 22px;
  line-height: 1.4em;
  margin-bottom: 12px;
  &.disclaimer {
    color: #666;
    font-size: 18px;
    font-style: italic;
  }
}

.standard-link {
  font-weight: 500;
  color: crimson;
  &:hover {
    color: lighten(crimson, 10%);
    transition: color 250ms ease-out;
  }
}

.swiper-button-prev, .swiper-button-next {
  &:focus {
    outline: none;
  }
}

.swiper-button-prev {
  left: 30px;
  background-image: url('../images/arrow-left.svg');
}

.swiper-button-next {
  right: 30px;
  background-image: url('../images/arrow-right.svg');
}