// link styles

.easings {
  &-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &-item {
    height: 50px;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    &.linear {
      > div {
        background-color: crimson;
      }
    }
    &.ease-in {
      > div {
        animation-timing-function: ease-in !important;
        background-color: blue;
      }
    }
    &.ease-out {
      > div {
        animation-timing-function: ease-out !important;
        background-color: purple;
      }
    }
    &.ease-in-out {
      > div {
        animation-timing-function: ease-in-out !important;
        background-color: lime;
      }
    }
    &.cubic-bezier {
      > div {
        animation-timing-function: cubic-bezier(0, 0, 0.13, 2.19) !important;
        background-color: teal;
      }
    }
    &-circle {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 150px;
      transform: translate3d(0, 0, 0);
    }
  }
}

.swiper-slide-active {
  .easings-item-circle {
    animation: circleMove 2s linear forwards 500ms;
  }
}

@keyframes circleMove {
  0% {
    left: 150px;
  }
  100% {
    left: 100%;
  }
}